################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.sqlite
*.json
*.sqlite-journal
/DemoCode/XFSampleApp/XFSampleApp/obj
/DemoCode/XFSampleApp/XFSampleApp.Android/obj
*.user
/DemoCode/XFSampleApp/XFSampleApp.iOS/obj
*.suo
